.stats-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  
  .icon-container {
    font-size: 48px;
    height: 48px;
    width: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 8px;
  }
  
  .value {
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 8px;
  }
  
  .change {
    display: flex;
    align-items: center;
    font-size: 14px;
    gap: 4px;
  }

  .positive-change {
    color: green;
  }
  .negative-change {
    color: red;
  }